<%= render "layouts/flash" %>
<h1>Edit User</h1>
<div class="content-wrapper">
    <%= form_for @user, url: edit_path do |f| %>
        <%= render partial: "form", locals: {f: f} %>
    <% end %>
    <%= button_to 'Delete User', home_path, method: :delete, class: "button", data: { confirm: 'Are you sure you want to delete your account?' } %>
</div>
